@import "../../_settings.scss";

$minWidth-820: "only screen and (min-width : rem-calc(820))";

.index#index {
	.bridals {
		.sectionHeading {
			background: #ECEBF1 url('/img/assets/hex-pattern.png') left top/auto repeat;

			.content {
				background: url('/img/bridals/bridals.svg') center center/95% auto no-repeat;

				h2 {
					text-shadow: 0 rem-calc(2) rem-calc(2) #000;
				}

				@media #{$minWidth-820} {
					background: url('/img/bridals/bridals.svg') center center/auto 95% no-repeat;
				}
			}
		}

		.imageGallery {
			img {
				padding: 4px;
				max-width: rem-calc(500);
				width: 100%;
			}

			img.landscape {
				max-width: none;
			}
		}
	}
}