@import "../../_settings.scss";

.index#index {
	.bridals {
		background: $white;

		.sectionHeading {
			background: #ECEBF1 url('/img/assets/hex-pattern.png') left top/auto repeat;

			.content {
				background: url('/img/bridals/bridals.svg') center center/auto 95% no-repeat;
			}
		}
	}
}