@import "../../_settings.scss";

.index#index {
	img.backgroundSplash {
		width: 100%;
	}
	
	.splash {
		.iconWrapper.show-for-medium {
			top: 30px;
			right: 30px;
			z-index: 20;

			img {
				width: 40px;
				height: 40px;
			}
		}

		.iconWrapper.show-for-small-only {
			padding-top: 10px;

			img {
				width: 30px;
				height: 30px;
			}
		}

		.masthead {
			width: 100%;
			height: 100%;
			justify-content: center;
			flex-direction: column;
		}

		.prose {
			width: 100%;
			z-index: 10;
		}

		.logoWrapper {
			img {
				width: rem-calc(440);
				opacity: .6;
			}
		}

		.menu {
			text-transform: uppercase;

			a {
				color: $black;
				border-bottom: rem-calc(3) solid transparent;

				&:hover {
					border-bottom: rem-calc(3) solid #5B5EA6;
				}
			}

			a.active {
				border-bottom: rem-calc(3) solid #5B5EA6;
			}
		}
	}
}