@import "../../_settings.scss";

.index#index {
	.splash {
		.verticalCenter {
			flex-direction: column;
			justify-content: center;
		}

		.imgWrapper {
			padding-top: 111.1111111%;

			img {
				position: absolute; 
				top: 0; 
				left: 0; 
				width: 100%;
			}
		}
	}
}