@import "../../_settings.scss";

.index#index {
	.backgroundSplash {
		overflow: hidden;
		
		img {
			width: 100%;
		}
	}

	.languageToggles.show-for-medium {
		z-index: 20;

		@include breakpoint(medium) {
			top: 20px;
			left: 20px;
		}

		@include breakpoint(large) {
			top: 30px;
			left: 30px;
		}
	}

	.splash {
		background: $lavender;

		.iconWrapper.show-for-medium {
			top: 30px;
			right: 30px;
			z-index: 20;

			img {
				width: 40px;
				height: 40px;
			}
		}

		.iconWrapper.show-for-small-only {
			padding-top: 10px;

			img {
				width: 30px;
				height: 30px;
			}
		}

		.masthead {
			z-index: 10;
			width: 100%;
			height: 100%;
			justify-content: center;
			flex-direction: column;
		}

		.prose {
			width: 100%;
			z-index: 10;
			text-shadow: 0 rem-calc(2) rem-calc(2) #000;

			.title {
				letter-spacing: rem-calc(4);
			}
		}

		.logoWrapper {
			img {
				width: rem-calc(440);
				opacity: .6;
			}
		}
	}
}
