@import "../_settings.scss";


.languageToggles {
	padding: rem-calc(6) 0;
	text-transform: uppercase;
	color: $white;
	text-shadow: 0 rem-calc(2) rem-calc(2) #000;

	.pipe {
		padding: 0 10px;

		@include breakpoint(medium) {
			padding: 0 5px;
		}
	}

	a {
		color: $white;
		border-bottom: rem-calc(3) solid transparent;

		&:hover {
			border-bottom: rem-calc(3) solid #fff;
		}
	}

	a.active {
		border-bottom: rem-calc(3) solid #fff;
	}
}
